body {
    font-family: Arial, sans-serif;
    display: flex;
    margin: 0; 
}
#sidebar {
    width: 20%;
    height: 100vh;
    overflow: auto;
    background-color: #f8f9fa;
    padding: 20px;
    box-shadow: 2px 0 6px rgba(0,0,0,0.1);
    box-sizing: border-box;
}
#sidebar h1 {
    color: #343a40;
}
#sidebar label {
    color: #6c757d;
    font-weight: bold;
    display: block;
    margin-top: 20px;
}
#sidebar select {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ced4da;
}
#sidebar button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#sidebar button:hover {
    background-color: #0056b3;
}
#map {
    flex: 1;
    height: 100vh;
    box-sizing: border-box;
}

#painelFrame {
    width: 100vw;        /* 80% da largura da janela de visualização */
    height: 100vh;
    position: absolute;        /* 80% da altura da janela de visualização */
    /*position: fixed;    /* Posição fixa */
    /*top: 50%;           /* Centralizado verticalmente */
    /*left: 50%;          /* Centralizado horizontalmente */
    border: none;       /* Remover borda */
    z-index: 9999;   
}

/* Responsive layout for mobile devices */
@media only screen and (max-width: 768px) {
    #sidebar {
        width: 100%;
        height: auto;
    }
    #map {
        width: 100%;
        height: calc(100vh - var(--sidebar-height, auto));
    }
}
